<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368894870744-2027j6kai2m1s29umm8okfrqdoq93vps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368894870744-2027j6kai2m1s29umm8okfrqdoq93vps</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>368894870744-jgms9ohm9fvttem40petjt8aofekfn9q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCamNgQYEdnRHQetp3WUfBkKN14gcN7Dr0</string>
	<key>GCM_SENDER_ID</key>
	<string>368894870744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>chat-app-22-f6fc9</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-22-f6fc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368894870744:ios:b17ec436334fdcdbcfc3ad</string>
</dict>
</plist>